
@tailwind base;
@tailwind components;
@tailwind utilities;



 @layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 160 100% 7%;

    --card: 0 0% 100%;
    --card-foreground: 160 100% 7%;

    --popover: 0 0% 100%;
    --popover-foreground: 160 100% 7%;

    --primary: 142 76% 36%;
    --primary-foreground: 355 100% 97%;

    --secondary: 120 16% 93%;
    --secondary-foreground: 160 100% 7%;

    --muted: 120 16% 93%;
    --muted-foreground: 160 30% 25%;

    --accent: 142 76% 36%;
    --accent-foreground: 355 100% 97%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 355 100% 97%;

    --border: 160 30% 80%;
    --input: 160 30% 80%;
    --ring: 142 76% 36%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 160 100% 7%;
    --foreground: 355 100% 97%;

    --card: 165 100% 5%;
    --card-foreground: 355 100% 97%;

    --popover: 160 100% 7%;
    --popover-foreground: 355 100% 97%;

    --primary: 142 76% 36%;
    --primary-foreground: 355 100% 97%;

    --secondary: 165 45% 12%;
    --secondary-foreground: 355 100% 97%;

    --muted: 165 45% 12%;
    --muted-foreground: 120 16% 80%;

    --accent: 142 76% 36%;
    --accent-foreground: 355 100% 97%;

    --destructive: 0 72.2% 50.6%;
    --destructive-foreground: 355 100% 97%;

    --border: 165 45% 12%;
    --input: 165 45% 12%;
    --ring: 142 76% 36%;
  }
}

.shadow-light {
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.085);
}

.shadow-dark {
  box-shadow: inset 0 0 5px rgba(0, 255, 0, 0.141);
} 




@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply box-border bg-background text-foreground;
  }
}

@layer utilities {
  .min-h-screen {
    min-height: 100vh; /* Fallback */
    min-height: 100dvh;
  }
  .h-screen {
    height: 100vh; /* Fallback */
    height: 100dvh;
  }
}

.buttons-container {
  display: flex;
  justify-content: center;
}
